[submodule "bench/include/Proteus"]
	path = bench/include/Proteus
	url = https://github.com/Eric-R-Knorr/Proteus
[submodule "bench/include/SuRF"]
	path = bench/include/SuRF
	url = https://github.com/efficient/SuRF
[submodule "bench/include/SNARF"]
	path = bench/include/SNARF
	url = https://github.com/kapilvaidya24/SNARF
[submodule "bench/include/REncoder"]
	path = bench/include/REncoder
	url = https://github.com/Range-Filter/REncoder
[submodule "lib/sux"]
	path = lib/sux
	url = https://github.com/marcocosta97/sux
[submodule "lib/sdsl-lite"]
	path = lib/sdsl-lite
	url = https://github.com/marcocosta97/sdsl-lite
